
		<h2>Thanks, you paid <strong><%= @charge.amount %></strong>!</h2>

		<%= @charge %>

		 <p><%= @order.name %></p>
		  <p><%= @order.email %></p>
		   <p><%= @order.address_1 %></p>
		    <p><%= @order.address_2 %></p>
		     <p><%= @order.postcode %></p>
		
