<!DOCTYPE html>

<html lang="en">

<%= erb :'partials/head' %>

<body>
      <%= erb :'partials/navheader' %>
      <%= erb :'partials/navbanner' %>

      <%= erb :'partials/sculptsmain' %>
<br>
<br>
<br>
<br>
      <%= erb :'partials/footer' %>
  

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="js/bootstrap.js"></script>

</body>

</html>

