<!DOCTYPE html>

<html lang="en">

<%= erb :'partials/head' %>

<body>
      <%= erb :'partials/navheader' %>

      <%= erb :'partials/navbanner' %>
      <div class="container-fluid"  >
          <div class="row" style="text-align:center;">
              <h5>Specialists in 1/3 scale resin movie marquettes</h5>
              <a href="/sculpts" style="font-size:10px;" type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Psycho 1960">"We all go a little mad sometimes"</a>
          </div>
</div>
      <%= erb :'partials/timelines' %>
<br>
<br>
<br>
<br>
      <%= erb :'partials/footer' %>
<!--   http://paypal.github.io/JavaScriptButtons/ -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="js/bootstrap.js"></script>
</body>

</html>